#pip install -r requirements.txt - local
#sudo -u www-data /var/www/incidentreport/venv/bin/pip install -r requirements.txt - production

Flask==3.0.0
Flask-Login==0.6.3
Flask-SQLAlchemy==3.1.1
Werkzeug==3.0.1
gunicorn==21.2.0
pytz==2023.3
email-validator==2.1.0